* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  color: black !important;
}

.nav-link {
  margin-right: 35px;
  font-weight: 600;
}

.btn-primary {
  background-color: #6946f4 !important;
  border: #6946f4 !important;
}

.log_btn{
    color:white!important;
}
.log_btn:hover {
    color:white!important;
}